.loaded .header {
  transform: translate(0, 0);
  opacity: 1;
}
.logo:focus {
  opacity: 0.7;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transform: translate(0, -100%);
  transition: opacity 0.5s, transform 0.8s;
  &__in {
    background: #0b42a4;
    position: relative;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      bottom: 0;
      background: #0b42a4;
      z-index: -1;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.35s;
    }
  }
  &-left {
    display: flex;
    align-items: center;
    nav {
      margin-left: 4rem;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    .ia-btn {
      padding: 1.34rem 2rem 1.34rem 1.5rem;
      font-size: 1.8rem;
      line-height: 1;
    }
  }
}
.fixed-header {
  .header__in:before {
    transform: translate(-50%, 0) scaleX(1);
  }
}
.logo {
  color: $white;
  border: none !important;
}
.navigation {
  transition: all .35s;
  &__hide {
    visibility: hidden;
    opacity: 0;

  }
  > ul {
    margin: 0;
    > li {
      margin: 0 1rem;
      display: inline-block;
      position: relative;
      padding: 1.6rem 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.current_page_item,
      &.current-menu-parent {
        > a {
          color: rgba($white, .75);
        }
        &.menu-item-has-children {
          > a {
            &:after {
              opacity: .75;
            }
          }
        }
      }
      &.menu-item-has-children {
        > a {
          position: relative;
          padding-right: 12px;
          &:after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="24" viewBox="0 0 7 24" fill="none"><path d="M0.361803 11.2475C0.195578 10.9151 0.437326 10.5239 0.809017 10.5239H6.19098C6.56267 10.5239 6.80442 10.9151 6.6382 11.2475L3.94721 16.6295C3.76295 16.998 3.23705 16.998 3.05279 16.6295L0.361803 11.2475Z" fill="white"/></svg>');
            position: absolute;
            right: 0;
            top: 50%;
            height: 24px;
            transform: translate(0, -50%);
            transition: all .35s;
          }
        }
        &.hover {
          > a {
            color: rgba($white, .75);
            border-bottom: 1px solid $white !important;

            &:after {
              transform:  translate(0, -40%) scaleY(-1);
            }
          }
          ul {
            opacity: 1;
            visibility: visible;
            transform: translate(0,0);
            z-index: 10;
            transition: all 0.5s ;
          }
        }
      }
      > a {
        color: $white;
        border-bottom: 1px solid transparent !important;
        transition: color 0.35s, border 0.35s;
        line-height: 1.4;
        display: block;
        &:hover,
        &:focus {
          color: $info;
          border-bottom: 1px solid $white !important;
        }
      }
      ul {
        position: absolute;
        box-sizing: border-box;
        top: 100%;
        left: -25px;
        width: 257px;
        padding: 22px 25px 30px 25px;
        border: 1px solid rgba(10, 92, 251, 0.10);
        background: $white;
        margin: 0;
        list-style-type: none;
        border-radius: 3rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
        opacity: 0;
        visibility: hidden;
        //transform: scaleY(0);
        //transform-origin: center top;
        transform: translate(0, 6rem);
        //transition: all 0.5s ;
        li {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2;
          margin-bottom: 1.5rem;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: $dark;
            border: none !important;
            display: block;
            &:hover,
            &:focus {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
.search-open {
  border-radius: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  border: none !important;
  background: $primary;
  display: inline-block;
  color: $white;
  font-size: 2.1rem;
  transition: all 0.35s;
  position: relative;
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2.1rem;
    transform: translate(-50%, -50%);
  }
  &:hover,
  &:focus {
    background: $secondary;
  }
  &__close {
    background: #ECEFFF;
    border: 1px solid #ECEFFF;
    color: $dark;
    i {
      font-size: 1.6rem;
    }
    &:after {
      content: '';
      position: absolute;
      width: 4.6rem;
      height: 4.6rem;
      border-radius: 4.6rem;
      border: 1px solid $info;
      top: 1px;
      left: 1px ;
      box-sizing: border-box;
    }
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
.search-open {

}
.alert-bar {
  padding: 2rem 0;
  &--fake {
    opacity: 0;
    visibility: hidden;
  }
  .ia-container {
    position: relative;
    .content-entry {

      *:last-child {
        margin-bottom: 0;
      }
      p {
        font-size: 1.6rem;
      }
    }
    a {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      transition: border-color 0.35s;
    }
  }
  &__close {
    position: absolute;
    top: 50%;
    right: 6rem;
    transform: translate(0, -50%);
  }
  //&.bg--danger {
  //  color: $white;
  //  .content-entry {
  //    * {
  //      color: $white;
  //    }
  //    a {
  //      border-bottom-color: $white;
  //    }
  //  }
  //
  //}
}
.top-nav {

  ul {
    list-style-type: none;
    text-align: right;
    margin-bottom: 0;
    margin-left: 0;
    li {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.6rem;
      margin-left: 3rem;
      a {
        color: $white;
        border: none !important;
        padding: 2rem 0;
        display: block;
        position: relative;
        transition: color .3s;
        &:before {
          content: "";
          height: 3px;
          width: 0;
          background: $primary;
          transition: all .3s;
          position: absolute;
          left: 0;
          top: 0;
        }

        &:hover,
        &:focus {
          color: rgba($white, 0.75);
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.main-search__wrap {
  position: relative;
  margin-right: 1.5rem;
  top: 3px;
  &.active {
    .main-search {
      opacity: 1;
      visibility: visible;
      width: 427px;
    }
  }
}
.main-search {
  width: 0;
  background: #ecefff;
  border-radius: 3rem;
  position: absolute;
  right: calc(4.8rem + 5px);
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .35s;
  input {
    background: none;
    border: none;
    height: 50px;
    padding: 0 60px 0 20px;
    width: 100%;
    font-size: 1.6rem;
    color: $dark;
    @include placeholder {
      color: rgba($primary, 0.75);
      opacity: 1;
    }
  }
  button {
    &.search-open {
      position: absolute;
      top: 1px;
      right: 1px;
      margin-right: 0;
      z-index: 10;
    }
  }
  &__dec {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: -3px;
    width: 12px;
    height: 26px;
    background: $white;
    overflow: hidden;
    z-index: 0;
    &:after,
    &:before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      border-radius: 12px;
      background: #183da5;
      top: -6px;
      left: 0
    }
    &:after {
      top: auto;
      bottom: -6px;
    }
  }
}
.mobile-menu-btn {
  display: none;
  .icon-close {
    display: none;
  }
}
.mobile-menu {
  display: none;

}
@media (max-width: 1360px) {
  .logo {
    max-width: 130px;
  }

  .header-right .ia-btn--white i.icon-logo-icon {
    display: none;
  }
  .header > .ia-container {
    padding-left: 0;
    padding-right: 0;
  }
  .header-right .ia-btn {
    font-size: 1.6rem;
  }
  .header__in {
    padding: 1rem;
  }
}
.alert-bar .ia-container a:hover,
.alert-bar .ia-container a:focus {
  border-bottom-color: transparent !important;
}
@media (max-width: 1200px) {
  .header-left nav {
    margin-left: 2rem;
  }
  .navigation > ul > li {
    margin: 0 .5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .logo {
    max-width: 160px;
  }
  .header-right .ia-btn {
    font-size: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header-right .ia-btn--white i.icon-logo-icon {
    display: inline;
    font-size: 1.5rem;
  }
  .header > .ia-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .menu-opened {
    .mobile-menu {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;

    }
    .mobile-menu-btn {
      .icon-menu {
        display: none;
      }
      .icon-close {
        display: block;
      }
    }
  }
  .mobile-menu {
    background: #ECEFFF;
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid rgba($blue, .05);
    display: block;
    position: fixed;
    left: 2rem;
    top: 0;
    bottom: 2.6rem;
    right: 2rem;
    transform: translate(0, 100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s, transform .8s, visibility .8s;
    z-index: 999;
    form {
      position: relative;
      margin-bottom: 2.8rem;
      button {
        position: absolute;
        right: 0;
        top: 0;
      }
      input {
        width: 100%;
        height: 5rem;
        border: 1px solid rgba($primary, .05);
        border-radius: 5rem;
        background: $white;
        padding: 0 6.5rem 0 2rem;
        font-size: 1.6rem;
        @include placeholder {
          color: rgba($primary, 0.75);
        }
      }
    }
    &__in {
      overflow-y: auto;
      height: 100%;
      ul {
        list-style-type: none;
        margin-bottom: 0;
      }

      > ul {
        margin-left: 0;
        padding: 0 2rem;

        > li {
          margin-bottom: 0;
          font-size: 2.2rem;

          &.menu-item-has-children {
            &.active {
              > a:after {

                transform: translate(0, -40%) scale(-1);
              }
            }
            > a {
              padding-right: 12px;

              &:after {
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="24" viewBox="0 0 7 24" fill="none"><path d="M0.361803 11.2475C0.195578 10.9151 0.437326 10.5239 0.809017 10.5239H6.19098C6.56267 10.5239 6.80442 10.9151 6.6382 11.2475L3.94721 16.6295C3.76295 16.998 3.23705 16.998 3.05279 16.6295L0.361803 11.2475Z" fill="%231E202F"/></svg>');
                position: absolute;
                right: 0;
                top: 50%;
                height: 24px;
                transform: translate(0, -50%);
                transition: all 0.35s;
              }
            }


          }

          > a {
            margin-bottom: 2rem;
            display: inline-block;
            position: relative;
          }

          a {
            border-bottom: none !important;
            color: $dark;
          }

          ul {
            margin-left: 2rem;
            display: none;
            padding-bottom: 1px;

            li {
              font-size: 1.6rem;
              margin-bottom: 2rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .mobile-menu-btn {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 4.8rem;
    background: $primary;
    color: $white;
    border:none;
    padding: 0;
    position: relative;
    margin-left: 1.5rem;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;
    }

  }
  .header-left .navigation {
    display: none;
  }
  .header-right .main-search__wrap {
    display: none;
  }
  .header__in {
    padding: 2.1rem 2rem;
    border-radius: 3rem;
    &::before {
      //border-radius: 3rem;
    }
  }
  .alert-bar {
    &__close {
      right: 2rem;
    }
    .content-entry {
      padding-right: 6.4rem;
      p {
        font-size: 1.4rem !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .header__in {
    padding: 1rem 2rem;
  }
  //.header {
  //  opacity: 1;
  //  transform: translate(0, 0);
  //}
  .header > .ia-container {
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    height: 2rem;
    svg {
      height: 100%;
      width: auto;
    }
  }
  .header-right .ia-btn {
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
    i {
      display: none;
    }
  }
  .top-nav {
    //background: $secondary;
    //position: relative;
    //&:after {
    //  content: '';
    //  top: calc(100% - 1px);
    //  position: absolute;
    //  background: $secondary;
    //  left: 0;
    //  right: 0;
    //  height: 5rem;
    //}
    ul {

      li {
        font-size: 1.4rem;
        margin-left: 2rem;

        &:first-child {
          margin-left: 0;
        }

        a {
          padding: 1.5rem 0;

          &[target="_blank"]:after {
            margin-left: .4rem;
            font-size: .8rem;
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .top-nav ul {
    display: flex;
    justify-content: space-between;
    li {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  }
}