.close {
  position: relative;
  border: none;
  transition: all .3s;
  cursor: pointer;
  padding: 0;
  &--sm {
    font-size: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    i {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}
@each $name, $color in $theme-colors {
  // Button Classes
  .close--#{$name} {
    background-color: $color;
    @if $name == "white" or $name == "info" or $name == "warning" or $name == "light" {
      color: $dark !important;
    } @else{
      color: $white !important;
    }
    &:hover,
    &:focus {
      @if $name == "dark" {
        background-color: $info;
        color: $dark !important;
      }@else if $name == "primary" {
        background-color: $secondary;
        color: $white !important;
      }@else{
        background-color: $dark;
        color: $white !important;
      }

    }
  }

}