@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?94q17e');
  src:  url('../fonts/icomoon.eot?94q17e#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?94q17e') format('truetype'),
  url('../fonts/icomoon.woff?94q17e') format('woff'),
  url('../fonts/icomoon.svg?94q17e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow::before {
  content: "\e900";
}
.icon-check::before {
  content: "\e901";
}
.icon-close::before {
  content: "\e902";
}
.icon-external::before {
  content: "\e903";
}
.icon-facebook::before {
  content: "\e904";
}
.icon-full-logo::before {
  content: "\e905";
}
.icon-icon::before {
  content: "\e906";
}
.icon-instagram::before {
  content: "\e907";
}
.icon-linked-in::before {
  content: "\e908";
}
.icon-logo-icon::before {
  content: "\e909";
}
.icon-menu::before {
  content: "\e90a";
}
.icon-pause::before {
  content: "\e90b";
}
.icon-play::before {
  content: "\e90c";
}
.icon-search::before {
  content: "\e90d";
}
.icon-sound-off::before {
  content: "\e90e";
}
.icon-sound-on::before {
  content: "\e90f";
}
.icon-spacex::before {
  content: "\e910";
}
.icon-youtube::before {
  content: "\e911";
}
