$spacing-values: (
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem
);
@each $key, $value in $spacing-values {
  .mb-#{$key} {
    margin-bottom: $value !important;
  }

  .mt-#{$key} {
    margin-top: $value !important;
  }

  .ml-#{$key} {
    margin-left: $value !important;
  }

  .mr-#{$key} {
    margin-right: $value !important;
  }

  .mx-#{$key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .my-#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .p-#{$key} {
    padding: $value !important;
  }

  .pt-#{$key} {
    padding-top: $value !important;
  }

  .pb-#{$key} {
    padding-bottom: $value !important;
  }

  .pl-#{$key} {
    padding-left: $value !important;
  }

  .pr-#{$key} {
    padding-right: $value !important;
  }

  .px-#{$key} {
    padding-left: $value !important;
    padding-right: $value !important;
  }

  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}
