
.white-wrap:empty {
  display: none;
}
.white-wrap {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: -3rem;
    height: 50rem;
    background: $white;
    z-index: -1;
  }
}