code {
  font-family: "Fira Code", "Source Code Pro", "Consolas", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: $light !important;
}
//font-weight
.text-extra-bold {font-weight: 1000 !important;}
.text-bold {font-weight: 800 !important;}
.text-semi-bold {font-weight: 600 !important;}
.text-medium {font-weight: 500 !important;}
.text-regular {font-weight: 400 !important;}
.text-light {font-weight: 300 !important;}
.text-thin {font-weight: 100 !important;}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: 500;
  margin-bottom: 4rem;
  line-height: 1.2;
}

@each $name, $size in $head-sizes {
   h#{$name},
   .h#{$name}{
     font-size: #{$size};
  }
}

h1,.h1 {
  line-height: 1.1;
}
.fz-1,.fz-2,.fz-3,.fz-4,.fz-4,.fz-6 {
  line-height: 1.2;
}
.fz-1 {
  font-size: $fz1;
}
.fz-2 {font-size: $fz2;}
.fz-3 {font-size: $fz3;}
.fz-4 {font-size: $fz4;}
.fz-5 {font-size: $fz5;}
.fz-6 {font-size: $fz6;}

p,.p1,.p2,.p3,.p4 {
  margin-bottom: $spacing-lg;
  line-height: 1.3;
}
p,
.p1, {
  font-size: $p;
}
.p2 {
  font-size: $p2;
}
.p3 {
  font-size: $p3;
}
.p4 {
  font-size: $p4;
}

.text-upper {text-transform: uppercase;}
.text-lower {text-transform: lowercase;}

ul,ol {
  margin: 0 0 3rem 2.5rem;
  li {
    margin-bottom: 1.5rem;
    font-size: $p2;
  }
}
ul.check-list {
  list-style-type: none;
  margin-left: 0;
  li {
    padding-left: 4.3rem;
    position: relative;
    margin-bottom: 2.5rem;
    &:before {
      content: '\e901';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      font-size: 1rem;
      width: 2.8rem;
      height: 2.8rem;
      background: $primary;
      border-radius: 2.8rem;
      color: $white;
      line-height: 2.8rem;
      text-align: center;
    }
  }
  &--large {
    li {
      padding-left: 7rem;
      &:before {
        width: 5rem;
        height: 5rem;
        border-right: 5rem;
        line-height: 5rem;
        font-size: 2.5rem;
      }
    }
  }
}
ul {
  ul {
    list-style-type: disc;
  }
}
.sub-title {
  font-size: 1.8rem;
  padding-left: 2.8rem;
  margin-bottom: 3rem;
  position: relative;
  color: $white;
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    background: $warning;
  }

}
.bg--white {

  .sub-title {
    color: $dark;
  }

}
.bg--warning{
  .sub-title {
    color: $dark;
    &:after {
      background: $dark;
    }
  }

}

.bg--primary {
  .sub-title {
    color: $white;
    &:after {
      background: $white;
    }
  }
}
.bg--danger {
  .sub-title {
    color: $white;
    &:after {
      background: $white;
    }
  }
}
.bg--dark-200 {
  .sub-title {
    color: $white;
  }
}
.content-entry {
  p +,
  ul +,
  ol + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 6rem;
      margin-bottom: 3rem;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 3rem;
  }
  p:last-child {
    margin-bottom: 4rem;
  }
  &.text--white {
    a {
      color: $white;
      border-color: $white;
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }
  &.text--dark {
    a {
      color: $dark;
      border-color: $dark;
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }
}
.title-indent {
  text-indent: 9rem;
}
.tag {
  padding: 8px;
  color: $white;
  font-size: 1.4rem;
  line-height: 1;
  background: rgba($white, 0.05);
  border-radius: .5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    margin-bottom: 3rem;
  }
  .sub-title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  h1,.h1 {
    font-size: 5.2rem;
  }
  h2,.h2 {
    font-size: 3.8rem;
  }
  h3,.h3 {
    font-size: 3.6rem;
  }
  h4,.h4 {
    font-size: 3.2rem;
  }
  h5,.h5 {
    font-size: 2.4rem;
  }
  h6,.h6 {
    font-size: 2.2rem;
  }

  .fz-2 {
    font-size: 3.4rem;
  }
  .fz-3 {
    font-size: 3.2rem;
  }
  .fz-4 {
    font-size: 2.4rem;
  }
  .fz-5,
  .fz-6 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .p2 {
    font-size: 1.6rem;
  }
  .p3 {
    font-size: 1.4rem;
  }
  .content-entry p:last-child {
    margin-bottom: 3rem;
  }
  ul.check-list li {
    margin-bottom: 1.8rem;
  }
  .title-indent {
    text-indent: 5.5rem;
  }
}
@media (max-width: 1200px) {
  ul.check-list {
    &.check-list--large li {
      padding-left: 3.8rem;
      &:before {
        width: 2.8rem;
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 1.4rem;
      }
    }
  }
}
//@media (max-width: 1023px) {
//  h1,.h1 {
//    font-size: 5rem;
//  }
//  h2,.h2 {
//    font-size: 4rem;
//  }
//  h3,.h3 {
//    font-size: 2.8rem;
//  }
//  h4,.h4,
//  h5,.h5 {
//    font-size: 2.4rem;
//  }
//
//}

@media (max-width: 767px) {
  .content-entry p:last-child {
    margin-bottom: 2.5rem;
  }
  ul.check-list { 
    margin-left: 1rem!important;
  }  
  .title-indent {
    text-indent: 4rem;
  }
  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    margin-bottom: 2.5rem;
  }
  .sub-title {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
  h1,.h1 {
    font-size: 4rem;
  }
  h2,.h2,
  h3,.h3 {
    font-size: 2.4rem;
  }
  h4,.h4,
  h5,.h5 {
    font-size: 2.2rem;
  }
  h6,.h6 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  .p2,.p3 {
    font-size: 1.4rem;
  }
  .fz-1,
  .fz-2,
  .fz-3,
  .fz-4 {
    font-size: 2rem;
  }
  .fz-5 {font-size: 1.8rem;}
  .fz-6 {font-size: 1.6rem;}

  ul.check-list {
    li {
      font-size: 1.4rem;
      padding-left: 3rem;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      &:before {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 6px;
        line-height: 1.6rem;
        top: 0.5rem;
      }
    }
    &.check-list--large li {
      padding-left: 3.8rem;
      &:before {
        width: 2.8rem;
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 1.4rem;
      }
    }
  }
  ul li, ol li {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .content-entry {
    p +,
    ul +,
    ol + {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 2.5rem;
    }
  }
}