//.two-cards-module,
//.three-cards-module {
//  &.module {
//    margin-bottom: 5rem;
//  }
//}
.cards-list {
  padding-top: 1rem;
  .ia-col{
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
  &.cards-list--three {
    .ia-col{
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}
.card-item {
  padding: 5rem 3rem;
  box-sizing: border-box;
  height: calc(100% - 3rem);
  &__text {
    .h5 + .card-item__btn {
      margin-top: 3rem;
    }
  }
  &__noimg {
    display: block;
    padding: 7rem 5rem;
    .content-entry {
      margin-top: 2.5rem;
      padding-top: 2.5rem;
    }
  }
  &:not(.card-item__noimg) {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    .card-item__text {
      width: calc(56% - 3rem);
    }
    &.card-item__onlytitle {
      //align-items: center;
      .card-item__img {
        width: 36%;
        div {
          width: 100%;
          padding-bottom: 70%;
        }
      }
      .card-item__text {
        width: calc(64% - 3rem);
      }
    }
    &.card-item__nobtn {
      .card-item__img {
        width: 30%;
      }
      .card-item__text {
        width: calc(70% - 3rem);
      }
    }
  }
  &__wrap {
    margin-bottom: 0;
    margin-top: 3rem;
  }
  &__btn {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
  }
  .content-entry {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba($white, .25);
    margin-bottom: 2.5rem;
    p:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    width: 44%;
    div {
      width: 100%;
      padding-bottom: 100%;
      @include bg;
      border-radius: 2rem;
    }
  }

}
.cards-list--three {
  .card-item {
    display: block !important;
    padding: 5rem 3rem 5rem 3rem;
    .card-section__wave {
      width: 62%
    }
    &__text {
      width: auto !important;
    }
    .card-item__img {
      width: 210px;
      margin-bottom: 3rem;
      margin-top: -2rem;
      div {
        width: 100%;
        padding-bottom: 70%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .card-item {
    padding: 4rem 2rem;
    &.card-item__noimg {
      padding: 5rem 4rem;
    }
  }

  .card-item__img {
    width: 147px;
  }
  .card-item:not(.card-item__noimg) .card-item__text {
    width: calc(100% - 167px);
  }
  .card-item .content-entry {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }
  .cards-list {
    --grid-gutter-width: 2rem;
  }
}
@media (max-width: 1023px) {
  .cards-list {
    &.cards-list--three {
      .ia-col {
        margin-top: 2rem;
        &:nth-child(3) {
          margin-top: 2rem;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .card-item {
    padding: 3rem 2rem 5rem;
    &:not(.card-item__noimg) {
      flex-direction: column;
      .card-item__text {
        width: 100%;
      }
      &.card-item__nobtn {
        display: block;
        .card-item__img {
          width: 8rem;
          margin-right: 2rem;
          float: left;
        }
        .card-item__text {
          width: 100%;
          h3 {
            overflow: hidden;
          }
          .content-entry {
            clear: both;
          }
        }
      }
      &.card-item__onlytitle {
        //align-items: center;
        .card-section__wave {
          width: 24rem;
        }
        .card-item__img {
          width: 21rem;
        }
        .card-item__text {
          width: 100%;
        }
      }
    }
    &__img {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__noimg {
      padding: 3rem 2rem 5rem;
      .content-entry {
        margin-bottom: 2rem;
      }
    }
    &__btn {
      .ia-link {
        font-size: 1.6rem;
      }
    }    
  }
}